header {
  display: flex;
  align-items: center;
  font-size: larger;
  font-weight: bolder;
  margin-left: 100px;
  margin-right: 100px;
}
.logo {
  padding-left: 20px;
  padding-right: 20px;
  width: 8rem;
  height: 3.5rem;
}
.container {
  width: 600px;
  display: flex;
  padding-top: 0;
  padding-right: 60px;
  padding-bottom: 0;
  padding-left: 30px;
  justify-content: space-between;
  color: #4d5159;
}

#first {
  color: rgb(255, 125, 0);
}
.buttons {
  display: flex;
  padding-left: 20px;
}

input {
  background-color: rgb(242 243 246);
  border: none;
  border-radius: 0.6rem;
  height: 50px;
  width: 300px;
  margin-left: 30px;
  text-align: left;
  padding-left: 12px;
}
button {
  height: 50px;
  width: 120px;
  border: solid 2px rgb(242 243 246);
  border-radius: 0.6rem;
  margin-left: 15px;
  font-weight: bold;
  background-color: white;
}

main {
  padding-left: 150px;
  padding-right: 150px;
  background-color: rgb(246, 246, 246);
}
h1 {
  padding-top: 80px;
  margin-top: 0px;
  margin-bottom: 90px;
  text-align: center;
  font-weight: 900;
  font-size: 250%;
}
.card-wrap {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
}

.card-img {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  border-radius: 12px;
  background-color: #f8f9fa;
  box-shadow: inset 0px 0px 0px 1px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
}
.card-title {
  font-size: 16px;
  letter-spacing: -0.02px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
  font-weight: normal;
}
.card-price {
  font-size: 15px;
  font-weight: 700;
  line-height: 1.5;
  margin-bottom: 4px;
}
.card-region {
  font-size: 13px;
  color: #212529;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-bottom: 4px;
  line-height: 1.5;
}
.card-top {
  width: 250px;
  margin-right: 20px;
  margin-left: 20px;
  margin-bottom: 45px;
}
.more-info {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 100px;
}
.hot-contents {
  text-align: center;
  text-decoration: underline;
}
.keyword {
  display: flex;
  justify-content: space-evenly;
  margin: 0px 150px 0 150px;

  padding-left: 80px;
  padding-right: 80px;
}
